
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.logo{
  width: 40px;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18px;
  width: 78%;              
  max-width: 1100px;
  background: #ffffff;
  border-radius: 40px;
  padding: 10px 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  z-index: 60;
}
.navbar .container-fluid { 
  padding: 0 12px;
 }
.navbar-brand { 
  margin-right: 18px; font-weight:700;
 }
.navbar-collapse { 
  justify-content: center; 
}
.navbar-nav {
   display:flex; gap:26px; align-items:center; 
  }
.navbar-nav .nav-link {
  color: #000 !important;
  font-weight:700;
  padding: 6px 8px;
  letter-spacing: .4px;
}
.navbar-toggler { border: 0; }


.hero {
  position: relative;
  min-height: 100vh;
  display: block;
  padding: 140px 80px 60px 80px; /* deja espacio para el nav */
  overflow: hidden;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #8e63f1; /* color morado */
  z-index: 1;
}


.hero .row, .hero .col-md-6 { 
position: relative;
z-index: 2; 
}


.hero .row {
display: flex; 
align-items: center;
}

.hero .col-md-6:first-child {
  padding-left: 40px;
  padding-right: 20px;
}


.hero h2 {
  font-size: 58px;        /* JUANITA */
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
  color: #000;
  display: inline-block;  /* para permitir que el h3 quede a su lado */
  line-height: 0.95;
}

.hero h3 {
  font-size: 58px;       
  font-weight: 700;
  color: #8C63F1;
  margin: 0 0 6px 22px;   /* separacion desde JUANITA */
  display: inline-block;
  vertical-align: bottom;
  max-width: 260px;       /* fuerza que "TOLOSA" baje a la siguiente línea */
  margin: 0 auto;
  line-height: 0.95;
  word-break: break-word;
}

.hero p {
  margin-top: 28px;
  max-width: 480px;
  font-size: 18px;
  line-height: 1.8;
  color: #222;
  margin-bottom: 26px;
}


.hero .col-md-6:first-child a {
  display: inline-block;
  margin-right: 16px;
  text-decoration: none;
}
.hero .col-md-6:first-child a img {
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px; /* si quieres bordes redondeados */
  object-fit: cover;
}

.hero .cont-img{
  position: relative;
  height: 450px;
}
.hero .cont-img img {
    width: 516px;
    position: absolute;
    bottom: -31%;
    left: 6%;
}


.hero .col-md-6:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0;
}

.cont-info a i {
  color: #8C63F1;
  font-size: 30px;
}

#Portafolio .cont-info {
    display: flex;
    padding: 58px;
}
#Portafolio .cont-info img {
  width: 100%;
  max-width: 280px; /* 🔹 reduce el tamaño de la imagen */
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(140, 99, 241, 0.5);
}

#Portafolio .cont-img {
  max-width: 480px; /* 🔹 reduce el ancho del texto */
}

#Portafolio .cont-img h2 {
  font-size: 21px;
  margin-top: 100px;
  font-weight: bold;
}


#Portafolio .cont-img p {
  font-size: 20px;
  line-height: 1.5;
}


#habilidades {
  padding: 50px 0;
  background: #F5F2F9;
}


#habilidades h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}


#habilidades p {
  font-size: 19px;
  line-height: 1.6;
  color: #333;
}


#habilidades .progress-box {
 background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px;
   box-shadow: 0 0 25px rgba(140, 99, 241, 0.5); ;
  backdrop-filter: blur(8px);
}


#habilidades .skill {
  margin-bottom: 20px;
}


#habilidades .skill-info {
     display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}


#habilidades .progress {
  height: 6px;
  background-color: #eaeaea;
  border-radius: 10px;
}


#habilidades .progress-bar {
  background-color: #8C63F1; /* morado */
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}


#habilidades .cont-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  justify-items: center;
  align-items: end;
  align-content: space-evenly;
  justify-content: space-evenly;
}

#habilidades .cont-img img {
  width: 80px;   /* tamaño más pequeño */
  height: auto;
}

#practicas h2 {
font-weight: bold;
color: #333;
margin-top: 60px;
}

#practicas-img {
height: 250px; 
object-fit: cover; /* recorta imagen manteniendo proporción */
}
.btn-portfolio {
  background-color: #8C63F1;
  color: #fff;
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;           /* 🔹 Tamaño de letra más pequeño */
  letter-spacing: 1px;       /* 🔹 Espaciado entre letras */
  display: inline-block;
  transition: all 0.3s ease; /* 🔹 Transición suave */
  box-shadow: 0 3px 6px #6b4bd4; /* 🔹 Sombra sutil */
}

.btn-portfolio:hover {
  background-color: #6b4bd4;
  color: #fff;
  transform: scale(1.05);    /* 🔹 Efecto de agrandar un poco al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* 🔹 Más sombra al hacer hover */
}


.card {
border: none;
margin: 10px;
transition: transform 0.3s ease;
}

.card:hover {
transform: scale(1.05);
}




    /* FLECHAS DEL CARRUSEL */
.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: black;
border-radius: 50%;
padding: 20px;
}

.carousel-control-prev {
  left: -120px;  /* mueve la flecha izquierda hacia afuera */
}

.carousel-control-next {
  right: -120px; /* mueve la flecha derecha hacia afuera */
}

.edu-card {
  background: #F5F2F9;
  border-radius: 12px;
  bottom: 100px;
  padding: 25px 20px;
  height: 100%;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 0 25px rgba(140, 99, 241, 0.5); /* efecto glow morado */
}

.edu-card:hover,
.edu-card.active {
  border: 2px solid #8e63f1; /* Morado */
  transform: translateY(-5px);
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(111, 66, 193, 0.1); /* Fondo moradito suave */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-circle i {
  font-size: 32px;
  color:#8e63f1; 
}

#educacion h2{
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #333;
}


#experiencia {
  padding: 50px 0;
  background: #F5F2F9;
 
}

#experiencia .cont-info h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2.5ream;
   margin-top: -18px;
}



#experiencia p {
  font-size: 19px;
  line-height: 1.6;
  color: #333;
}

#experiencia .progress-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 25px rgba(140, 99, 241, 0.5);
  backdrop-filter: blur(8px);
}

#experiencia .skill {
  margin-bottom: 20px;
}


#experiencia .skill-info {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}


#experiencia .progress {
  height: 6px; /* igual de delgada que habilidades */
  background-color: #eaeaea;
  border-radius: 10px;
}


#experiencia .progress-bar {
  background-color: #8C63F1; /* morado */
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}


#experiencia .cont-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 88px;
  padding: 103px;
  margin-top: 50px;
}


#experiencia .cont-img img {
  width: 80px;   /* tamaño más pequeño */
  height: auto;
}

#hobbies .text-center.mb-4{
font-weight: bold;
color: #333;
margin-top: 60px;
}

#hobbies .portfolio-img {
  width: 120px;   /* más pequeñas */
  height: 120px;  /* cuadradas */
  object-fit: contain; /* que no se deformen */
  margin: 20px auto 10px auto; /* centradas con espacio */
  display: block;
}


#hobbies .hobby-text {
  font-size: 1.1rem;
  font-weight: 600;
  color:  #8e63f1;
  margin: 0;
}


    /* FLECHAS DEL CARRUSEL */
#hobbies .carousel-control-prev-icon,
#hobbies  .carousel-control-next-icon {
background-color: rgba(3, 3, 3, 0.6);
border-radius: 50%;
padding: 20px;
}

#hobbies .carousel-control-prev {
  left: -120px;  /* mueve la flecha izquierda hacia afuera */
}

#hobbis .carousel-control-next {
  right: -120px; /* mueve la flecha derecha hacia afuera */
}



#footer {
  background: #F5F2F9;
  color: black;
  font-size: 0.9rem;
}

#footer a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .footer-icons i {
  margin-right: 5px;
}
/*TABLET*/
@media screen and (min-width:1024px) and (max-width:1366px){

  body {
    width: 100%;
    
  }

  .navbar {
    width: 90%;
    padding: 8px 20px;
    top: 12px;
  }

  .navbar-nav {
    gap: 18px;
  }


  .hero {
    padding: 100px 40px 60px 40px;
    min-height: 50vh;
  }

  .hero h2 {
    font-size: 46px;
    margin-top: 40px;
  }

 .hero h3 {
    color: #673AB7;
    font-size: 43px;
    line-height: 1.4;
     margin-right: 17px;
    }
    
  .hero p {
  margin-top: 92px;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 32px;
  }

  .hero .cont-img {
    height: 380px;
    position: relative;
  }

  .hero .cont-img img {
    width: 463px;
    position: absolute;
    bottom: -40%;
    left: -20%;
  }

  /* --- PORTAFOLIO --- */
  #Portafolio .cont-info {
    padding: 40px 30px;
    gap: 20px;
  }
  #Portafolio .cont-img h2 {
    font-size: 25px;
    margin-top: 85px;
    font-weight: bold;
}
  #Portafolio .cont-img p {
  font-size: 21px;
  line-height: 1.6;
  }

  #Portafolio .cont-info img {
    max-width: 290px;
    margin-bottom: 13px;
}


  .carousel-control-prev,
  .carousel-control-next {
    left: 0;
    right: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
  }

  #experiencia .cont-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 91px;
    padding: 139px 0;
}

#experiencia .cont-info h2{
font-size: 30px;
text-align: left;

}


#habilidades h2{
  font-size: 30px;
  text-align: left;
}


  #habilidades .cont-img img,
  #experiencia .cont-img img {
    width: 70px;
  }

  
  #footer {
    text-align: center;
    padding: 30px 10px;
  }

  #footer a {
    margin: 5px;
  }

}

/*SMARTPHONE*/
@media screen and (min-width:320px) and (max-width:767px){

  body {
  width:100%;
  
  }

  
  header {
  height: 100vh;
  padding-top: 10px;
  background-position: center;
    }

  
 .navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18px;
  width: 92%;
}

  .navbar-collapse {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  /* --- HERO --- */
  .hero {
    text-align: center;
    padding: 60px 20px;
  }

  .hero::before {
    width: 100%;
    height: 50%;
    bottom: 0;
    top: auto;
  }

  .hero .row {
    flex-direction: column-reverse;
  }

  .hero h2 {
    font-size: 36px;
  }

  .hero h3 {
    color: #41207c;
    font-size: 32px;
    line-height: 1.4;
  }

  .hero p {
    font-size: 19px;
    line-height: 1.6;
    margin: 20px 0;
    left: -40PX;
  }

  .hero .col-md-6:first-child {
  padding-right: 36px;
  margin-top: 15px;
}

  .hero .cont-img {
    margin-top: 25px;
    height: auto;
  }
  .hero .cont-img img {
    width: 97%;
    position: relative;
    left: -67px;
    bottom: 0px;
    }

  .cont-info a i {
  color: white;
  font-size: 30px;
}


  #Portafolio {
    padding: 40px 20px;
  }


#Portafolio .cont-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 102px;
}

  #Portafolio .cont-info img {
    max-width: 350px;
    margin-bottom: -132px;
  }

  #Portafolio .cont-img h2 {
    font-size: 25px;
    font-weight: bold;
  }

  #Portafolio .cont-img p {
    font-size: 23px;
    line-height: 1.6;
    
}

 
  .carousel-control-prev,
  .carousel-control-next {
    left: 0;
    right: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5);
    padding: 12px;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  #habilidades .cont-img,
  #experiencia .cont-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px 0;
  }

  #habilidades .cont-img img,
  #experiencia .cont-img img {
    width: 60px;
  }
  #habilidades .cont-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
    padding: 53px 0;
}

  #experiencia .cont-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 32px 0;

  }

  #habilidades h2{
    text-align: center;
    font-size: 26px;
  }
  #experiencia h2 {
    text-align: center;
    font-size: 20px;
  }

  #hobbies .portfolio-img {
    width: 90px;
    height: 90px;
  }

  #hobbies .hobby-text {
    font-size: 0.95rem;
  }

  #footer {
    text-align: center;
    padding: 25px 10px;
    font-size: 0.85rem;
  }

  #footer .footer-icons {
    margin-top: 10px;
  }

  #footer a {
    display: inline-block;
    margin: 5px;
  }


}
